<ng-container *ngIf="state$ | async as state">
  <div>
    <ui-input
      class="space-bottom_5"
      [ngModel]="state.question.actualQuestion"
      (ngModelChange)="changeActualQuestion($event)">
    </ui-input>

    <div class="answer-item space-bottom_3" *ngFor="let answer of state.question.answers; index as i">
      <ui-radio [item]="i" [(ngModel)]="state.question.correctAnswer"></ui-radio>
      <ui-input class="input-answer" [ngModel]="answer" (ngModelChange)="changeAnswer($event, i)"></ui-input>
      <ui-button *ngIf="state.isVisibleDeleteButton" label="Delete" (click)="onDelete(i)"></ui-button>
    </div>
    <ui-button *ngIf="state.isVisibleAddButton" label="Add" (click)="onAdd()"></ui-button>
  </div>
</ng-container>
