:root {
  --gray0: rgb(241, 241, 241);
  --gray1: #dddddd;
  --gray2: #d1d1d1;
  --gray3: #cfcece;
  --gray4: #9e9e9e;
  --gray5: #757575;
  --gray6: #383838;
  --green: #4caf50;
  --green2: #4ec051;

  --space-atom: 4px;
  --radius: var(--space-atom);
  --transition: 300ms;
  --bg-transition: background var(--transition) ease-in-out;
  --border-transition: border var(--transition) ease-in-out;

  --nav-header-space: 80px;
  --container-width: 700px;
  --nav-header-height: calc(var(--space-atom) * 8 + 1rem);
}

.light {
  --bg: var(--gray0);
  --primary: var(--green);
  --primary2: var(--green2);
  --text: var(--gray6);
  --text-light: var(--gray5);

  --button: var(--primary);
  --button-hov: var(--primary2);
  --button-text: var(--gray0);
  --radio-button: var(--gray3);
  --radio-button-hov: var(--gray4);
  --input-border: var(--gray3);
  --input-fcs-border: var(--primary);

  --nav-bg: var(--gray6);
  --nav-bg-selected: var(--green2);
  --nav-bg-hovered: var(--gray2);

  --dropdown-bg: var(--gray0);
  --dropdown-bg-hov: var(--gray2);
  --dropdown-bg-active: var(--gray3);
  --dropdown-color-active: var(--gray6);

  --toggle-bg: var(--gray4);
  --toggle-slider-bg: var(--gray0);
  --toggle-checked-bg: var(--green2);

  --separator: var(--gray3)
}

.desktop-only {
  @media (max-width: 600px) {
    display: none;
  }
}

.mobile-only {
  @media (min-width: 600px) {
    display: none;
  }
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--text);
  background: var(--bg);
  font-size: 15px;
  font-family: sans-serif;
}

$directions: bottom top left right;
$spaces: 1 2 3 4 5;

@each $space in $spaces {
  @each $direction in $directions {
    .space-#{$direction}_#{$space} {
      margin-#{$direction}: calc(var(--space-atom) * #{$space});
    }
  }

  .space_#{$space} {
    margin: calc(var(--space-atom) * #{$space});
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
