:root {
  --gray0: rgb(241, 241, 241);
  --gray1: #dddddd;
  --gray2: #d1d1d1;
  --gray3: #cfcece;
  --gray4: #9e9e9e;
  --gray5: #757575;
  --gray6: #383838;
  --green: #4caf50;
  --green2: #4ec051;

  --space-atom: 4px;
  --radius: var(--space-atom);
  --bg-transition: background 300ms ease-in-out;
}

.light {
  --bg: var(--gray0);
  --primary: var(--green);
  --primary2: var(--green2);
  --text: var(--gray6);
  --text-light: var(--gray5);
  --button: var(--primary);
  --button-hov: var(--primary2);
  --button-text: var(--gray0);
  --radio-button: var(--gray3);
  --radio-button-hov: var(--gray4);
  --input-border: var(--gray3);
  --input-fcs-border: var(--primary);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--text);
  background: var(--bg);
  font-size: 15px;
  font-family: sans-serif;
}

