<ui-button class="space-bottom_3" label='Add' (clicked)="onAddQuiz()"></ui-button>

<ui-list-filter
  [filterFiledFunc]="filterFiledFunc"
  [itemTemplate]="itemTemplate"
  [items]="items$ | async">
</ui-list-filter>

<ng-template #itemTemplate let-item>
  <div class="space-top_1 space-bottom_1 flex">
    <div>{{ item.name }}</div>
    <div class="flex">
      <ui-button (clicked)="editQuiz(item._id)" label='Edit' class="space-right_3"></ui-button>
      <ui-button (clicked)="runQuiz(item._id)" label='Take it'></ui-button>
    </div>
  </div>
</ng-template>
