{{ timer$ | async | date : 'full' }}

<div *ngIf="assignment$ | async as assignment">
  <ui-header [size]="quizNameSize" class="space-bottom_5"> {{ assignment.quiz.name }}</ui-header>
  <app-question-card
    *ngIf="!state$.getValue().isQuizFinished"
    [question]="assignment.quiz.questions[state$.getValue().currentQuestionIndex]"
    (selected)="onSaveSelectedAnswer($event, assignment.quiz.questions[state$.getValue().currentQuestionIndex]._id)"
    (submitted)="onSaveSubmittedAnswer($event, assignment.quiz.questions[state$.getValue().currentQuestionIndex]._id)">
  </app-question-card>
</div>

