<ng-container *ngIf="state$ | async as state">
  <div>
    <ui-input
      class="space-bottom_5"
      [ngModel]="state.quiz.name"
      (ngModelChange)="onChangeQuizName($event)">
    </ui-input>

    <ui-card class="flex space-bottom_3" *ngFor="let question of state.quiz.questions; index as i; trackBy: trackByFunc">
      <app-question-editor [model]="question" (modelChange)="onChangeQuestion($event, i)"></app-question-editor>
      <ui-button class="space-top_5" label="Delete" *ngIf="state.isVisibleDeleteButton" (click)="onRemoveQuestion(i)"></ui-button>
    </ui-card>

    <ui-button class="space-top_5" label="Add" *ngIf="state.isVisibleAddButton" (click)="onAddQuestion()"></ui-button>
    <ui-button class="space-top_5" label="Save" (click)="onSaveQuiz()"></ui-button>
  </div>
</ng-container>
