.drag-handle-element {
  cursor: grab;
  width: 30px;
}

.cdk-drag-preview {
  background: var(--bg);
}

.container-list.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
  transition: transform 350ms ease-in-out;
}
